/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.todo-header {
  background-color:lightcyan;
  margin-bottom: 10px;
}
.todo-footer {
  background-color: lightcyan;
  margin-top:10px;
}

.task-box {
  border: 1px solid #abc;
  margin-bottom:15px;
  padding:15px;
}

.margin-bottom-0{
  margin-bottom:0;
}

.no-padding {
  padding:0;
}

.padding-right-0 {
  padding-right : 0 ;
}

.task-title {
 font-size: 20px;
  border-bottom:1px solid #abc;
}

.margin-bottom-10 {
  margin-bottom:10px;
}