<div class="container">

    <div class="row margin-bottom-10">
        <div class="col-sm-4">
            <ui-select ng-model="dc.selectedStatus.value" theme="bootstrap"
                       close-on-select="true">
                <ui-select-match placeholder="Select status" allow-clear="true">
                    <span ng-bind="$select.selected.name"></span>
                    <!--<button class="clear" ng-click="dc.clear($event)">X</button>-->
                </ui-select-match>
                <ui-select-choices repeat="status in (dc.statuses | filter: $select.search) track by status.name">
                    <span ng-bind="status.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-4">
            <ui-select multiple ng-model="dc.selectedPriorities" theme="bootstrap" sortable="true"
                       ng-change="dc.filterTasks()" close-on-select="false">
                <ui-select-match placeholder="Select priorities...">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="priority in dc.priorities | filter: $select.search">
                    <div ng-bind-html="priority.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-primary" type="button"  ng-click="dc.addTask()"> Add new task </button>
        </div>
    </div>
    <div class="row">
        <todo-task-box tasks="dc.tasks" delete-task="dc.deleteTask(task)"></todo-task-box>
    </div>
</div>
